.backup_git/
*.iml
.gradle
build.gradle/
gradle.properties
gradle/
gradlew
gradlew.bat
private_key.pepk
settings.gradle
local.properties
.idea/
.DS_Store
./build
./captures
.externalNativeBuild
.cxx
local.properties
./aap/release/app-release.aab
app/src/main/res/drawable/
app/src/main/res/drawable-v24/
app/src/main/res/raw/
